:root {
    --main-color: #09B1BA;
    --accent-color: #FC7B36;
    --black: #022527;
    --white: #ECFDFE;
}


*{font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5 {
    color:var(--accent-color);
}

p {
    color: var(--black);
}

.span-color2{
    color: var(--accent-color);
}
.span-color1{
    color: var(--main-color);
    font-family: 'Crimson Text', serif;
}

.presto-logo {
    color: var(--main-color);
}

.presto-logo:hover {
    color: var(--main-color);
}

.icona-ricerca {
    color: var(--accent-color);
    border-color:var(--main-color);
    transition: ease-in-out 0.5s;
}

.icona-ricerca:hover {
    /* color: var(--accent-color); */
    background-color:var(--main-color);
    color:white;
}

.bordo-ricerca {
    color: var(--accent-color);
    border-color:var(--main-color);
    transition: ease-in-out 0.5s;
}

.link-zoom:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.dropdown-item:hover{
    color: var(--main-color);
    
    
}

.dropdown-menu{
    border-color: var(--main-color);
}

.bg-navbar {
    background-color: #ecfdfebd;
    position: fixed;
    top: 0px;
    width: 100%;
}

.masthead {
    
    /* min-height: 500px; */
    background: rgb(153,153,153);
    background: linear-gradient(90deg, rgba(153,153,153,1) 0%, rgba(188,188,191,0.8326681014202556) 50%, rgba(227,227,227,1) 100%) , url(https://image.freepik.com/free-photo/female-friends-out-shopping-together_53876-25041.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .i-color{
      color: var(--main-color);
  }

  .m-top{
      margin-top: 73.2px;
  }

  .impronta{
      color: var(--accent-color);
  }


  .nav-link{
      display: inline-block;
  }

  .navbar-toggler:focus{
      box-shadow: none;
  } 

  .card1{
      border: solid 2px;
      border-color: var(--main-color);
      border-radius: 2%;
      margin-top: 30px;
      text-align: center;
      padding: 18px 18px;
  }

  .z-index{
      z-index: 1010;
  }



    .button-custom{
        position: absolute;
        bottom: 15px;
        right: 20px;
        background-color: var(--accent-color);
        font-size: 13px;
        transition: ease-in-out 0.5s;
    }

    .button-custom:hover{
        transform: scale(1.1);
        
    }

    .color-heart {
        color: var(--accent-color);
        position: absolute;
        bottom: 20px;
        left: 25px;
        font-size: 25px;
    }

    .tc-main {
        color: var(--main-color);
    }
    .tc-accent {
        color: var(--accent-color);
    }

    .footer {
        background-color: var(--black);
        color: var(--white);
        padding: 24px 24px;
    }

    .ads-card-overlay {
        background-color: #0225278a;
    }

    .ads-card-overlay:hover {
        box-shadow: 2px 3px 23px 15px rgba(2,37,39,0.49);
    }

    .categorie-affari {
        font-size: 52px;
    }

    .slick-prev:before, .slick-next:before{
        color: var(--accent-color);
    }
   